body {margin: 0px;}
header {
  display: flex;
  justify-content: space-between;
}

.logo {
padding-top: 15px;
padding-left: 25px;
padding-bottom: -2px;
}
.navigation {
padding-top: 15px;
padding-bottom: -2px;
padding-right:25px ;
font-family: Quicksand, Tahoma, Arial;
text-align: center;

}
.navigation .pc-nav {
    display: block;
}
nav a {
    padding: 20px;
    padding-top: 10px;
    color: black;
    text-decoration: none;
}
.navigation a:hover {
    text-decoration: underline;
}
.section1 {background-color: #007BD5;;
    text-align: center;
    height: auto;
    color: white;
    font-family: Raleway, Arial, Helvetica;
    letter-spacing: 1px;
   
}
.section1 h1 {font-size: 37px;
    padding-top: 80px;
    margin-top: 5px;
    font-family: Raleway, Arial, Helvetica;
}
.section1 h3 {
    font-size: 28px;
    font-family: Raleway, Arial, Helvetica;
}
.section1 .email {
    padding-top: 35px;
}
.emailbar {
    width: 400px;
    height: 40px;
    border-radius: 0px;
    border: none;
    font-size: larger;
    padding-left: 5px;
}
button {
    width: 190px;
    height: 45px;
    background-color: rgba(255, 8, 0, 0.911);
    color: white;
    border: none;
}
/*secton2=gallery*/
.gallery-background {
    background-color: #ccc;
    height: 100%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.images {object-fit: cover;
    width: 400px;
  
    background-color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px;
}
.images img {
    width: 100%;
   object-fit: cover;
}
h4 {font-family: Quicksand, Tahoma, Arial;
    font-weight: normal;
line-height: 1.4;
text-size-adjust: 5px;
font-size: 27px;
color: #202020;}
.section3 {
    background-color: rgb(15, 15, 15);
    height: auto;
    padding: 20px;
}
.footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.footer-nav a {font-family: Quicksand, Tahoma, Arial;
    color: white;
    margin-top: 20px;
}
.gallery .iamges span {
    color: rgba(0, 0, 0, 0.5);
}
.footer-nav a:hover {
    color: rgb(117, 115, 115);
}
.images .social-icon {
    color: rgb(0, 0, 0);
}
.posted {
    color: gray;
    font-family: Raleway, Arial, Helvetica;
}
.description {
    font-size: 17px;
    word-spacing: 2px;
    font-family: Raleway, Arial, Helvetica;
}
.gallery .social-icon {
    color: #CCCCCE;
}
.gallery a {
    color: #CCCCCE;
    padding-left: 10px;
}
/* Hamburger */
.icon {
    display: none;
}
@media (max-width:500px) {
    .section1 h1 {
        font-size: 27px;
        padding-top: 25px;
        margin-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
    } 
    .section1 h3 {
        font-size: 24px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }
    .section1 .email {
        padding-top: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .emailbar {
        width: 90%;
        padding-left: 5px;
        margin-bottom: 24px;
    }
    button {
        width: 60%;
        height: 45px;
        margin-bottom: 66px;
    }
    .navigation .pc-nav {
        display: none;
    }
    .images {
           width: 80%;
          margin-left: auto;
          margin-right: auto;
    }
    .gallery {
        justify-content: center;
    }
    .footer-nav a {
margin-right: 25px;
    }
    nav a {
        padding: 0px;
    }
    .icon {
        display: block;
    }
      .icon .fa-bars {
        position: absolute;
        left: 37%;
        top: 10%;
        background: #007bd5;
        font-size: 21px;
        padding: 6px;
        color: white;
      }
      .logo {
          margin-bottom: 40px;
      }
}
