body {margin: 0px;}
header {
  display: flex;
  justify-content: space-between;
}

.logo {
padding-top: 15px;
padding-left: 25px;
padding-bottom: -2px;
}
.navigation {
padding-top: 15px;
padding-bottom: -2px;
padding-right:25px ;
font-family: Quicksand, Tahoma, Arial;
text-align: center;

}
nav a {
    padding: 20px;
    padding-top: 10px;
    color: black;
    text-decoration: none;
}
.navigation a:hover {
    text-decoration: underline;
}
.section1 {background-color: #007BD5;;
    text-align: center;
    height: 380px;
    color: white;
    font-family: Raleway, Arial, Helvetica;
    letter-spacing: 1px;
   
}
.section1 h1 {font-size: 37px;
    padding-top: 80px;
    margin-top: 5px;
    font-family: Raleway, Arial, Helvetica;
}
.section1 h3 {
    font-size: 28px;
    font-family: Raleway, Arial, Helvetica;
}
.section1 .email {
    padding-top: 35px;
}
.emailbar {
    width: 400px;
    height: 40px;
    border-radius: 0px;
    border: none;
    font-size: larger;
    padding-left: 5px;
}
button {
    width: 190px;
    height: 45px;
    background-color: rgba(255, 8, 0, 0.911);
    color: white;
    border: none;
}
/*secton2=gallery*/
.gallery-background {
    background-color: #ccc;
    height: 100%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.images {object-fit: cover;
    width: 400px;
  
    background-color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px;
}
h4 {font-family: Quicksand, Tahoma, Arial;
    font-weight: normal;
line-height: 1.4;
text-size-adjust: 5px;
font-size: 27px;
color: #202020;}
.section3 {
    background-color: rgb(15, 15, 15);
    height: auto;
    padding: 20px;
}
.footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.footer-nav a {font-family: Quicksand, Tahoma, Arial;
    color: white;
    margin-top: 20px;
}
.gallery .iamges span {
    color: rgba(0, 0, 0, 0.5);
}
.footer-nav a:hover {
    color: rgb(117, 115, 115);
}
.images .social-icon {
    color: rgb(0, 0, 0);
}
.posted {
    color: gray;
    font-family: Raleway, Arial, Helvetica;
}
.description {
    font-size: 17px;
    word-spacing: 2px;
    font-family: Raleway, Arial, Helvetica;
}
.gallery .social-icon {
    color: #CCCCCE;
}
.gallery a {
    color: #CCCCCE;
    padding-left: 10px;
}
@media (max-width:500px) {
    
}
 /*@media only screen and (max-width: 600px) {
    .md{
        width: 830px;
    }   
    .text{
        height: 700px;


    }

    .logo{
        padding-left: 220px;
        padding-bottom:80px;
    }

    .lo{
        height: 55px;
    }

    .na{
        padding-right: 90px;
        
    }

    h1{
       font-size: 50px;
       padding-left: 100px;
       padding-right: 120px;
    }

    h3{
        font-size: 40px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 15px;
    }

    .ad{
        display: grid;
    }

    .email{
        margin-left: 180px;
        margin-right: 170px;
    }

    .bt{
        margin-top: 25px;
    }

    .non{
        width: 750px;
        height: 800px;
        margin-bottom: 30px;
    }

    .ad img{
        width: 750px;
        height: 400px;
    }

    .no{
        width: 750px;
        height: 800px;
        margin-bottom: 30px;
    }

    .n{
        width: 750px;
        height: 800px;
        margin-bottom: 5px;
    }

    .q{
        width: 750px;
        height: 800px;
        margin-bottom: 30px;
    }

    .w{
        width: 750px;
        height: 800px;
        margin-bottom: 30px;
    }

    .e{
        width: 750px;
        height: 800px;
        margin-bottom: 30px;
    }

    .r{
        width: 750px;
        height: 800px;
        margin-bottom: 30px;
    }

    .t{
        width: 750px;
        height: 800px;
        margin-bottom: 30px;
    }

    .y{
        width: 750px;
        height: 800px;
        margin-bottom: 30px;
    }

    .b a{
        padding-left: 60px;
        font-size: 19px;
        
    }

    h4{
        font-size: 40px;
    }

    h6{
        font-size: 25px;
    }

    span{
        font-size: 27px;
        font-weight: lighter;
        font-family: var(--text-font);
        line-height: 1.75;
    }

    .na a {
        font-size: 24px;
    }

}