body  {margin: 0px;}
.flex-container {
    display: flex;
    color: white;
    height: 80px;
    background-color: #be3144;
    justify-content: space-between;
}

nav a{
    color: white;  
    font-size: 25px;
    text-decoration: none;
    margin-right: 30px;
  height: 59.5px;
  display: inline-block;
    
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
nav a:hover {
  
    background-color:grey;
}
main{
    background-color: rgba(0, 0, 0, 0.952);
background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.flex-main {
    display: flex;
    justify-content: center;
   height: 700px;
   align-items: center;
   flex-direction: column;
}
.flex-main h1{
    font-size: 45px;
    color: #ffffff; 
    }

    .flex-main .tagline{
        font-size: 25px;
        color: #c00707;
        text-align: center;
    }
    /* css for gallery*/


    .gallery {
       
        height: 1000px;
        margin-top: 0em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right:75px ;
        padding-left: 75px;
        background-color: #627194;
    }

    

    .photos-title {
        display: flex;
        justify-content: center;
        background-color: #627194;
        padding-bottom: 30px;
        padding-top: 10px;
        
    }
    
    .photos-title h1 {
        font-size: 30px;
        color:white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        text-decoration-line: underline;
        text-align: center;
        text-decoration: bold;
        margin: 0%;
    }
    
     
    .gallery section {
        align-content: center;
    }
    
   
    
    .gallery img {
        margin-right: 50px;
        width: 300px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
   .gallery .img3 {
       height: 200px;
   }
    
    .image-caption p{
        margin: 0px;
        width: 300px;
        height: 54px;
        background-color:rgb(68, 66, 66);
        
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        text-decoration: bold;
        color: white;
        text-align: center;
        padding-top: 10px;}
        .show1 {
            color: rgb(68, 67, 67);
            transition: color .5s ease-in-out;    
        }
  
    .image-caption p:hover .show1{
        
            color: rgb(231, 94, 40);
        
    }


    .button {
        display: flex;
        justify-content: center;
        background-color: #627194;
    }
    
    .button a {
        background-color: black;
        color: white;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-decoration: none;
        border-radius: 15px;
    }
    .button a:hover {
        background-color: rgb(214, 20, 20);
    }
    .button a:hover .button1{
        background-color: rgb(214, 15, 15);
        word-spacing: 7px;
        transition: word-spacing 0.5s ease-in-out;
    }
    .foot {flex-direction: column;
        display: flex;
        height: 300px;
        margin: 0;
        background-color: rgb(41, 41, 41);
        justify-content: center;
        align-items: center;
    
    }
    .foot div {
        text-align: center;
    }
    
    .foot .contact-greet {
        margin-top: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: white;
    }
    
    .foot .contact-tagline {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-style: italic;
        word-spacing: 2px;
        color: white;
        padding-bottom: 80px;
        margin-bottom: 100px;
    }
    
    .foot .social-media {
        display: flex;
        width: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 10px;
        color: white;
        justify-content: center;
    }
    
    .foot table {
        margin-top: 40px;
    }
    
    .foot table td{
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
        align-items: center;    
    }
   

    
    .facebook a{
        color: white;
        text-decoration: none;
    }
    
    .facebook:hover{
        color: white;
        transition: padding .5s ease-in-out;
        padding-top: 40px;
        padding-bottom: 0;
    }
    
    .github:hover{
        color: white;
        transition: padding .5s ease-in-out;
        padding-top: 40px;
        padding-bottom: 0;
    }
    

    .twitter:hover{
        color: white;
        transition: padding .5s ease-in-out;
        padding-top: 40px;
        padding-bottom: 0;
    }  
    .email:hover{
        color: white;
        transition: padding .5s ease-in-out;
        padding-top: 40px;
        padding-bottom: 0;
    }
 
    .call:hover{
        color: white;
        transition: padding .5s ease-in-out;
        padding-top: 40px;
        padding-bottom: 0;
    }
    
    .foot .social-media img {
        height: 15px;
    }
    .copyright {
        display: flex;
        height: 100px;
        margin: 0;
        background-color: rgb(41, 41, 41);
        justify-content: space-evenly;
        
    }    
        
    .hr {
        display: inline;
        background-color: rgb(41, 41, 41);
        margin: 0;
        padding: 0;
    }   
    hr {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        border: 2px solid red;
    }
    .copyright .endline {
        margin-top: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        color: white;
       text-align: center;
    }
    